.ipynb_checkpoints
process_neontrees.ipynb
__pycache__
data/data_neon
data/data_neon_lidar
*.aux.xml
*unnamed_plot*
*_competition*
format_lidar.ipynb
hist.png
idtrees_gt.json
.DS_Store
data_test.ipynb
data/NeonTrees/evaluation/CHM
data/NeonTrees/evaluation/Hyperspectral
data/NeonTrees/evaluation/RGB
*.zip
data/data_idtrees
data/NeonTrees
data/data_idtrees_lidar
train/
log.txt
*.png
data_augmentation.ipynb
data/
obyn/training/checkpoints/*

!obyn/training/checkpoints/checkpoint

